<app-menu style="position: fixed; top: 0; left: 0; width: 100vw; z-index: 1000;"></app-menu>
<div class="cuerpo-principal">
  <div class="imagen-principal">
    <img src="banner.svg" alt="Imagen principal" />
  </div>
  <h2 class="titulo-seccion">Tú decides en qué invertir</h2>

  <div class="cuadros-graficos">
    <div class="cuadro">
      <h3>New York</h3>
      <div class="contenido-cuadro">
        <img src="logo.svg" alt="New York" />
      </div>
    </div>
    <div class="cuadro">
      <h3>Sydney</h3>
      <div class="contenido-cuadro">
        <img src="logo.svg" alt="Sydney" />
      </div>
    </div>
    <div class="cuadro">
      <h3>Tokio</h3>
      <div class="contenido-cuadro">
        <img src="logo.svg" alt="Tokio" />
      </div>
    </div>
  </div>

  <div class="cuadros-graficos-2">
    <div class="cuadro">
      <h3>Londres</h3>
      <div class="contenido-cuadro">
        <img src="logo.svg" alt="Londres" />
      </div>
    </div>
    <div class="cuadro">
      <h3>París</h3>
      <div class="contenido-cuadro">
        <img src="logo.svg" alt="París" />
      </div>
    </div>
  </div>

  <!-- RELOJES EN VIVO (reemplazo de imágenes) -->
  <div class="relojes">
    <app-relojes></app-relojes>
  </div>

  <app-pie-pagina-principal></app-pie-pagina-principal>
</div>
