<!-- Banner superior -->
<div class="banner-superior">
  Invierte fácil. Gana claro.
</div>

<!-- Barra de navegación -->
<nav class="navbar">
  <div class="logo-menu-group">
    <!-- Sección del logo -->
    <div class="logo-section">
      <a href="/">
        <img src="/logo.svg" alt="Logo Acciones UD" class="logo" />
      </a>
    </div>
    <ul class="menu">
      <li><a href="#">Invierte</a></li>
      <li><a href="javascript:void(0)" (click)="scrollToBottom(3000)">Conócenos</a></li>
      <li><a href="javascript:void(0)" (click)="scrollToBottom(3000)">Políticas</a></li>
    </ul>
  </div>
  <div class="actions">
    <button class="premium-btn">Premium</button>
    <button *ngIf="usuarioAutenticado" (click)="verPerfil()">Mi Perfil</button>
    <button *ngIf="!usuarioAutenticado" class="invertir-btn" (click)="abrirModal()">Invierte ya</button>
  </div>
</nav>

<!-- Modal de inicio de sesión -->
<div class="modal-overlay" [hidden]="!mostrarModal">
  <div class="modal" [class.cerrar-anim]="animandoCerrar">

    <button class="cerrar-btn" (click)="cerrarModal()" aria-label="Cerrar modal">&times;</button>
    <img src="/logo.svg" alt="Logo Acciones UD" class="logo2" />
    <h2 class="saludo">¡Bienvenido a Acciones UD!</h2>
    <h2 class="inicio-sesion">¡Iniciar sesión en tu cuenta!</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="formulario-contenedor">
      <!-- Campo de correo con ícono -->

            <!-- Campo de correo -->
            <div class="form-group" *ngIf="!showOtpField">
              <label for="usuario">Correo electrónico</label>
              <div class="input-wrapper">
                <i class="fa-solid fa-envelope icon-left"></i>
                <input
                  id="usuario"
                  type="email"
                  formControlName="username"
                  class="custom-input"
                  placeholder="nombre@correo.com"
                  [class.input-error]="formularioEnviado && loginForm.get('username')?.invalid"
                />
                <span class="tooltip-error"
                  *ngIf="formularioEnviado && loginForm.get('username')?.invalid">
                  <i class="fa-solid fa-triangle-exclamation"></i>
                  {{ loginForm.get('username')?.errors?.['required'] ? 'Completa este campo' : 'Correo inválido' }}
                </span>
              </div>
            </div>

            <!-- Campo de contraseña -->
            <div class="form-group" *ngIf="!showOtpField">
              <label for="contrasena">Contraseña</label>
              <div class="input-wrapper">
                <i class="fa-solid fa-lock icon-left"></i>
                <input
                  id="contrasena"
                  [type]="mostrarContrasena ? 'text' : 'password'"
                  formControlName="password"
                  class="custom-input"
                  placeholder="Introduce tu contraseña"
                  [class.input-error]="formularioEnviado && loginForm.get('password')?.invalid"
                />
                <i
                  class="fa-solid icon-right"
                  [ngClass]="mostrarContrasena ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="mostrarContrasena = !mostrarContrasena"
                ></i>
                <span class="tooltip-error"
                  *ngIf="formularioEnviado && loginForm.get('password')?.invalid">
                  <i class="fa-solid fa-triangle-exclamation"></i>
                  {{ loginForm.get('password')?.errors?.['required'] ? 'La contraseña es requerida' : 'Contraseña incorrecta' }}
                </span>
              </div>
            </div>

      <!-- Campo OTP -->
      <div *ngIf="showOtpField" class="código-verificacion">
        <label for="otp">Código de verificación</label>
        <input
          id="otp"
          type="text"
          formControlName="otp"
          class="custom-input"
          placeholder="Código enviado al correo"
          required
        />
      </div>


      <button type="submit" class="entrar-btn">
        {{ showOtpField ? 'Verificar código' : 'Entrar' }}
      </button>

      <span class="tooltip-error mensaje-general"
      *ngIf="mensaje">
      <i class="fa-solid fa-triangle-exclamation"></i>
      {{ mensaje }}
  </span>
    </form>

    <div class="registro-link">
      ¿No tienes cuenta?
      <a href="/registro">Regístrate</a> |
      <a (click)="abrirModalRecuperacion()" style="cursor: pointer;">Olvidé mi contraseña</a>
    </div>
  </div>
</div>

<!-- Modal de recuperación de contraseña -->
<div class="modal-overlay" [hidden]="!mostrarModalRecuperacion">
  <div class="modal modal-recuperacion" [class.cerrar-anim]="animandoCerrar">
    <button class="cerrar-btn" (click)="cerrarModalRecuperacion()" aria-label="Cerrar modal">&times;</button>
    <img src="/logo.svg" alt="Logo Acciones UD" class="logo2" />
    <h2 class="inicio-sesion">Recuperar contraseña</h2>

    <form (ngSubmit)="recuperarContrasena()" #recuperarForm="ngForm" class="formulario-contenedor">

      <div class="form-group">
        <label for="correoRecuperacion">Correo electrónico</label>
        <div class="input-wrapper">
          <i class="fa-solid fa-envelope icon-left"></i>
          <input
            id="correoRecuperacion"
            type="email"
            name="correoRecuperacion"
            class="custom-input"
            placeholder="nombre@correo.com"
            [(ngModel)]="correoRecuperacion"
            required
          />
        </div>
      </div>

      <button type="submit" class="entrar-btn">Enviar enlace</button>
    </form>
  </div>
</div>
