<div class="banner-superior">
  Invierte fácil. Gana claro.
</div>

<nav class="navbar">
  <div class="logo-menu-group">
    <div class="logo-section">
      <a href="">
        <img src="/logo.svg" alt="Logo Acciones UD" class="logo" />
      </a>
    </div>
    <ul class="menu">
      <li><a href="#">Invierte</a></li>
      <li><a href="#">Conócenos</a></li>
      <li><a href="#">Políticas</a></li>
    </ul>
  </div>

  <div class="user-actions">
    <a href="#" class="premium-btn">Premium</a>
    <a class="notification-btn" (click)="toggleNotifications($event)">
      <i class="fas fa-bell"></i>
    </a>

    <div class="notification-dropdown" [class.show-notifications]="showNotifications">
      <div class="notification-header">
        <span>Notificaciones</span>
      </div>

      <ul class="notification-list">
        <li *ngFor="let notif of notificaciones" [class.notificacion-leida]="notif.read">
          <a href="/notificaciones">
            <span class="notification-text">{{ notif.title }}</span>
            <span class="notification-date">{{ formatFecha(notif.createdAt) }}</span>
          </a>
        </li>
        <li *ngIf="notificaciones.length === 0" class="no-notificaciones">
          <span>No hay notificaciones</span>
        </li>
      </ul>

      <div class="notification-footer">
        <a href="/notificaciones">Ver todas las notificaciones</a>
      </div>
    </div>

    <a class="menu-btn" (click)="toggleDropdown($event)">
      <i class="fas fa-bars"></i>
    </a>

    <div class="user-dropdown" [class.show-dropdown]="showDropdown">
      <ul>
        <li><a href="miperfil"><i class="fas fa-user"></i> Mi perfil</a></li>
        <li><a href="#" class="misOrdenes"><i class="fas fa-file-alt"></i> Mis Órdenes</a></li>
        <li><a href="" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
